@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Ceviche+One&family=Creepster&family=Freckle+Face&family=Jersey+15&family=Permanent+Marker&family=Pirata+One&family=Platypi:ital,wght@0,300..800;1,300..800&family=Rubik+Doodle+Shadow&family=Rubik+Vinyl&family=Rubik+Wet+Paint&family=Sedgwick+Ave+Display&family=Unica+One&display=swap');

.tituloF {
    font-family: "Pirata One", serif;
    font-size: 25px;
    color: black;
    text-align: center;
}

.btn-primary {
    width: 100%;
    height: 35px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    font-family: "Unica One", serif;
    color: white;
    background-color: black;
}

.textF {
    color: black;
    font-family: "Sedgwick Ave Display", serif;
    font-size: 30px;
}

.contenedor-principal {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
}

.contenedor-info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.contenedor-logo img {
    max-width: 150px;
    height: auto;
    margin-left: 900px;
}

.registro-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
